---
import Layout from '../layouts/Layout.astro';
import Vue from '../components/dose.vue';
import Svelte from '../components/dose.svelte'
import CAstro from '../components/Card.astro';
import Re from '../components/dose.tsx'
---

<Layout title="Welcome to Astro.">
	<div class="d-flex-center flex-col">
		<Vue/>
		<Svelte/>
		<CAstro/>
		<Re/>
	</div>
</Layout>
