---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<button class="d-btn">rd</button>
	<button class="d-btn-danger">rdvdvred</button>
	<h1 class="d-text-fantasy">dfkjgnowrng</h1>
	<div class="d-loading"></div>
</Layout>
